<div class="container mt-3 ">


   <div class="d-flex align-items-center justify-content-center vh-100">

       <div class="card mt-4 w-100">
    
           <h6 class="card-header w-100 d-flex align-items-center justify-content-between">
               <div class="fw-light">{{blog.authorName}}</div>
               <div class="div">
                   <span class="btn btn-outline-dark btn-rounded btn-sm me-2"> {{blog.createdAt | date :'mediumDate'}}</span>
                   <span class="btn btn-outline-dark btn-rounded btn-sm"> {{blog.createdAt | date :'shortTime'}} </span>
               </div>
           </h6>
           <div class="card-body">
               <h5 class="card-title">{{blog.title}}</h5>
               <p class="card-text">{{blog.content}}</p>
               <div class="d-flex">
                   <a (click)="back()"  class="btn  me-3 btn-outline-secondary btn-rounded btn-sm me-auto"> Back</a>
                   <a (click)="goToEdit(blog.id)" class="btn  me-3 btn-outline-dark btn-rounded btn-sm">Edit</a>
                <a (click)="goToDelete(blog.id)" class="btn   btn-outline-danger btn-rounded btn-sm">Delete</a>

               </div>
           </div>
       </div>
   </div>

</div>