<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <!-- Container wrapper -->
    <div class="container">
        <!-- Navbar brand -->
        <a class="navbar-brand me-2" routerLink="">
            Dev.Blogs
        </a>

        <!-- Toggle button -->
        <button data-mdb-collapse-init class="navbar-toggler" type="button" data-mdb-target="#navbarButtonsExample"
            aria-controls="navbarButtonsExample" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarButtonsExample">
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/blogs-list">Blogs</a>
                </li>
            </ul>


            @if(isUserLogged == false)
            {
                <!-- Left links -->
                <div class="d-flex align-items-center">
                    <button data-mdb-ripple-init type="button" class="btn btn-link px-3 me-2 text-black"routerLink="/login">Login</button>
                    <button data-mdb-ripple-init type="button" class="btn  me-3 btn-dark btn-rounded"routerLink="/register">Sign up for free</button>
                </div>
            }

            @if(isUserLogged == true)
            {
                  <!-- Left links if user logged -->
                  <div class="d-flex align-items-center">
                      <button data-mdb-ripple-init type="button" class="btn btn-link px-3 me-2 text-black text-uppercase">{{username}}</button>
                      <button data-mdb-ripple-init type="button" class="btn  me-3 btn-dark btn-rounded" (click)="logout()">Logout</button>
                  </div>
              }



        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->